@import url('https://fonts.googleapis.com/css2?family=Heebo:300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primarty-color: #000;;
    --secondary-color: #fff;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

html {
    transition: all 0.5s ease-in;
}

body {
    font-family: Heebo, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.toggle {
    cursor: pointer;
    background-color:var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius:4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    background-color:var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.secondary {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}